Flutter/Dart/Pub
mskn/.dart_tool/
mskn/.packages
mskn/.pub-cache/
mskn/.flutter-plugins
mskn/.flutter-plugins-dependencies
mskn/.metadata
mskn/build/
mskn/pubspec.lock

IDE / Editor
mskn/.idea/
mskn/.vscode/
*.iml
.log

macOS
.DS_Store

Firebase / Secrets
mskn/.env
mskn/firebase.json
mskn/android/app/google-services.json
mskn/ios/Runner/GoogleService-Info.plist
mskn/android/app/.keystore
mskn/android/app/*.jks

iOS specific
mskn/ios/Pods/
mskn/ios/Runner.xcworkspace/
mskn/ios/Flutter/Flutter.framework
mskn/ios/Flutter/Flutter.podspec
mskn/ios/Flutter/Generated.xcconfig
mskn/ios/Flutter/ephemeral/
mskn/ios/Flutter/Flutter.podspec.lock

Android specific
mskn/android/.gradle/
mskn/android/app/build/
mskn/android/local.properties
mskn/android/app/debug.keystore
mskn/android/app/google-service.json


Others
*.lock
.env
mskn/firebase.json
mskn/android/app/google-services.json
mskn/ios/Runner/GoogleService-Info.plist